*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/*------------------------ bootstrap -----------------------------*/
.bg-dark {
    background-color: #000000!important;
}
.navbar{
    padding: 1.5rem 1rem;!important;
}
/*-----------------------------------------------------*/
header  a{
    color: #9a9b9c;
}

.logo{
    width: 111px;
    height: 40px;
    background-image: url("../img/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.header_content{
    padding-top: 10%;
    padding-bottom: 10%;
}
.header_content button{
    margin-top: 4%;
}
.section_1{
    padding-top: 2%;
}
/*--------------------------------------------------------------------*/
.main_content{
    padding-top: 5%;
    padding-bottom: 5%;
}
.main_content button{
    margin-top: 2%;
}
.main_content span{
    font-family: 'Great Vibes', cursive;
}
/*--------------------------------------------------------------------*/
footer .FLogo{
    width: 53px;
    height: 40px;
    background-image: url("../img/FLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.footer_content{
    padding-top: 10%;
    padding-bottom: 10%;
}

/*--------------------------------------------------------------------*/